*{
  margin: 0;
  padding: 0;
  background-color: #66A3FF;
}

.heading{
  background-color: #4B4E6D;
  color: white;
  font-size: 3rem;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  font-family: monospace;
}

.choices{
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.choice{
  height: 200px;
  width: 200px;
}

.choice:hover{
  cursor: pointer;
  border: 5px solid red;
  border-radius: 50%;
}
img{
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.scoreBoard{
  display: flex;
  justify-content: space-around;
  gap: 7rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.9rem;
  margin-top: 30px;
  border: 2px solid greenyellow;
  margin-left: 30vw;
  margin-right: 30vw;
  color:blue;
}


#userScore{
  color: white;
  margin-left: 10px;
}

#compScore{
  color: white;
  margin-left: 50px;
}

.result{
  text-align: center;
  padding: 5px;
  margin-top: 5rem;
  background-color: aquamarine;
  border: 1px solid black;
}